extends layout

block content
  h1= title
  if categories_list.length 
    dl
      each category in categories_list
        dt 
          a(href=category.url) #{category.name}
        dd #{category.description}
  